/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

#Compiled clojurescript files
##############################
/dev-resources/public/js

#IntelliJ Idea File
####################
*.iml
/.idea
